
<hr>
<div id="carousel" class="container text-center theme-white">
    <div class="row">
      <div class="col order-5 col-12">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>  
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img class="img-carousel" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/487560515_703736932227344_1736497066589792599_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=106&ccb=1-7&_nc_sid=f727a1&_nc_ohc=y_1L8UKihigQ7kNvwGPNwLd&_nc_oc=AdkXGndH9LX_w5ZZLvJl_UrDhgzrlhC9e30ShUm2qJ2M0vkBPYypbEPNTjhik0EF0hNIr8sn2RA6-QIizpk1U5lU&_nc_zt=23&_nc_ht=scontent-qro1-2.xx&_nc_gid=Nw96SfVevHGCBeE0_Ibrlg&oh=00_AfEYKqwL2CgR4YvZiHVhCTyPqjLBZNW8xhejBrFQKZQwTQ&oe=6802827F" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Uña Acrilica</h5>
                  <p>Uña acrilica precio: <strong>₡ 12,500</strong></p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img class="img-carousel" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/487103074_703736658894038_3935189682063853985_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=104&ccb=1-7&_nc_sid=f727a1&_nc_ohc=7v1BaNgyqJsQ7kNvwGXgfMA&_nc_oc=Adk_80LoBPtsvUXNv0K2ZaaB-fJCjPUStUZUSz0H_qK4MX5aQ4LukfdbjAiEqI560fL9iQsUFQwlX8HKtGJ4cKCX&_nc_zt=23&_nc_ht=scontent-qro1-1.xx&_nc_gid=Nw96SfVevHGCBeE0_Ibrlg&oh=00_AfGaGVyJRf9Si_ISzkFGj6cnXXZ31m6Taz4LIoRMRglBjg&oe=68025943" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-carousel" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/487384064_703736902227347_8475959945236148729_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=106&ccb=1-7&_nc_sid=f727a1&_nc_ohc=kDQfKn8_KbEQ7kNvwGzniHE&_nc_oc=AdmiegsxXvtAoBp4fk4nzUrZCQ4Jt7X4MsUC00rG1P0DSRGNLrbi8ingDCi1MTy1VQeYB3gO3pSEbX6Rzxi7F8sj&_nc_zt=23&_nc_ht=scontent-qro1-2.xx&_nc_gid=Nw96SfVevHGCBeE0_Ibrlg&oh=00_AfE3eK3GaUgzpbUJ5eE0KHDXOlUZj0r8FMmJzUbASfunWw&oe=68027E36" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>    
      </div>
    </div>
  </div>
  <br>
  <content class="cards">
    <div class="card">
        <img class="img-card" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/473727165_1226891792317941_327541263222285916_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_ohc=JR-gj4hsahAQ7kNvwHquYrK&_nc_oc=AdlMFvJVII9oOc0mOA7HIvpx2D4OBWtLKG7-9UhwrIbBleD0u8XkK112VovvYFiVjC5RTMhNAB5ZcD14je7A8CMj&_nc_zt=23&_nc_ht=scontent-qro1-1.xx&_nc_gid=6T4B8TJN0SF-iiEMkPnKnw&oh=00_AfFyy1a3Jn-2JDUIy_-7i4JGQHyk0tI5oEZLdg7KuHglRg&oe=68030FCD" alt="">
        <span>Uñas Acrilicas</span>
        <span>Precio: <strong>₡ 10,000</strong></span>
      </div>
      <div class="card">
        <img class="img-card" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/473018388_1226891825651271_4656245532535550392_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=hjjTTNCNK7gQ7kNvwFGem0B&_nc_oc=Adn6FlurRQbK4TT8M25xZMXhHza365KFtxhRfh7xXoMIBUhu7x0OSOkpyDekHL-O8vXtpD6K4-7rmCAVo9XL7elT&_nc_zt=23&_nc_ht=scontent-qro1-1.xx&_nc_gid=6T4B8TJN0SF-iiEMkPnKnw&oh=00_AfH8Zf7W2D0k0RWKAnUun-sTQoibxR4ddgM_0gxpAl6FBQ&oe=68032978" alt="">
        <span>Uñas Acrilicas</span>
        <span>Precio: <strong>₡ 10,000</strong></span>
      </div>
      <div class="card">
        <img class="img-card" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/472849749_1226891855651268_8289050644886066405_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_ohc=FHtOTiVAOkMQ7kNvwHcc7eg&_nc_oc=AdkcPp2OR0l_jIGlJ-dZvx2xQ08CEB4w57ZghgAM_TtLnVjI-nHFk6YVIMvKHZct1_6zoxAoswME6SPfwrU-goyr&_nc_zt=23&_nc_ht=scontent-qro1-2.xx&_nc_gid=6T4B8TJN0SF-iiEMkPnKnw&oh=00_AfFsTkA-gs3UVLSYgue2rqIBEwXStys6Txfq7vS7Hap0YQ&oe=68031F16" alt="">
        <span>Uñas Acrilicas</span>
        <span>Precio: <strong>₡ 10,000</strong></span>
      </div>
      <div class="card">
        <img class="img-card" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/481185840_122220972266218554_3924305096906999903_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=Dhmsy8s2sGoQ7kNvwGsCOw-&_nc_oc=Adm9tlNY-5LqRU1piPiBHPjNprgcgPDv4BC5YQUu3KZ2LcsykSTgJnDjQOQ3Xyd-QClmGVI-8SYrX8oXyVXBdwKS&_nc_zt=23&_nc_ht=scontent-qro1-1.xx&_nc_gid=qPLmyUQ2qdlgHb1pOngNnw&oh=00_AfEEOkYhTvgAfhKbnBHJKjuCwmNmv5CnTl5_lOVBAebKwA&oe=68030A3B" alt="">
        <span>Uñas Acrilicas</span>
        <span>Precio: <strong>₡ 10,000</strong></span>
      </div>
      <div class="card">
        <img class="img-card" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/465464554_8583980625020855_6737056848273746197_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=nmbYkkV4XqcQ7kNvwGxdU2x&_nc_oc=AdkStZJAVEmr99LOgW_5Uq4904KSD7tsbW6-Q6ukpq9G-f1aVOwmBCQTXTl_kUnVm0QZ43mmFAJ17oGOq8UA_F0i&_nc_zt=23&_nc_ht=scontent-qro1-2.xx&_nc_gid=by_wUZR9alKOXmNAbBbu6g&oh=00_AfEIqIJZ-dVsayPY991V3ODb27oKIUJD0-cSupplhpq9CA&oe=68031C40" alt="">
        <span>Uñas Acrilicas</span>
        <span>Precio: <strong>₡ 10,000</strong></span>
      </div>
      <div class="card">
        <img class="img-card" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/466100071_8583980871687497_4509107432998959108_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=xqgJezD26vIQ7kNvwFOjV0j&_nc_oc=Adl65ZS4K2Vy8sjmQwnXJaERa6jeKiRu_ijjf1tAVWJTHQK12Nrl8ehAMMrWaCW7T1U5-EWMECBynGpYZBHDS91O&_nc_zt=23&_nc_ht=scontent-qro1-1.xx&_nc_gid=by_wUZR9alKOXmNAbBbu6g&oh=00_AfFU6-b5D_VaDQyrXD9McD9dGhpCFxm5jUJChGDTpY0Unw&oe=68032D83" alt="">
        <span>Uñas Acrilicas</span>
        <span>Precio: <strong><strong>₡ 10,000</strong></strong></span>
      </div>
  </content>
  <br>
  <br>
  <br>
  <div>
    <nav aria-label="...">
      <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item active" aria-current="page">
          <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
    <br>
  </div>
  <script src="../router.js"></script>